<!-- <h2>Employee List</h2> -->
<!-- <ul (click)="onselect(employee)" *ngFor="let employee of employees">
    <li>{{employee.name}}</li>
</ul> -->
<!-- 
<mat-list (click)="onselect(employee)" *ngFor="let employee of employees" role="list" >
    <mat-list-item role="listitem">{{employee.name}}</mat-list-item>
</mat-list> -->

<!-- <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Add data
    </button>
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button>
  </div> -->

<div style="padding-right: 40px; padding-top: 20px;">
  <button type="button" mat-raised-button (click)="addEmployee()" color="primary">add</button>
  <cdk-virtual-scroll-viewport [tvsItemSize]="50" class="wrapper mat-elevation-z2">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"> 
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.first_name}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
          </ng-container>
        
          <!-- age Column -->
          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef>age</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onselect(row)"></mat-row>
      </mat-table>
  </cdk-virtual-scroll-viewport>  
</div>